.color1 {color: #000000;}
.color2 {color: #192545;}
.color3 {color: #465897;}
.color4 {color: #7b93f6;}
.color5 {color: #b9d4ff;}
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: left;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 2.8em;
    color: #b0caf5;
}
aside>h2{
    text-align: left;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 1.8em;
    color: #b0caf5;
}
section>div>h2{

    font-size: 1.8em;
    color: white;
}
h2{
    font-size: 1.8em;
    padding: 8px;
    color: #192545;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 7px;
    font-size: 18px;
    color: white;
}
a{
    font-size: 1.4em;
    color: #192545;
    text-decoration: none;
    transition: 1s ease-in-out;

}
a:visited{
    color: #192545;
}
a:hover{
    width: auto;
    height: auto;
    color: white;
    border-radius:13px ;
    border: white 2px solid;

    background-color: #192545;
}
.direita{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 3em;
    margin-top: 1em;
    font-size: 21px;
    color: #192545;
}
aside.sidebar{  
    margin-top: 1%;
    margin-bottom: 1%;
    width: 26%;
    height: 100em;
    min-height: 42em;
    float: left;
    background-color: #192545;
}
section.content{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 74%;
    height: auto;
    min-height: 42em;
    float: right;
}
img.foto{
    border-radius: 5em;
    margin-left: 6.2em;
    margin-top: 20px;
}
img.qr{
    float: right;
    margin: 1.5em;
    width: 7em;
    height: 7em;
}
.flex-container{
    display: flex;
    width: 100%;
    height: auto;
}
.flex-container>div{
    width: 47%;
    height: auto;
    margin-left: 1em;
    margin-top: 1em;
}
.barra{
    width: 78%;
    height: 3px;
    margin-top: 20px;
    margin-left: 42px;
    background-color: #b0caf5;
}
.enfase{
    width: 79%;
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
    text-align: center;
    background-color: #b0caf5;
}
.contato{
    width: 100%;
    height: 10em;
    background-color: #192545;
}
.preencher{
    width: 80%;
    height: 1em;
    margin-top: 0.8em;
    margin-left: 1em;
    border-radius: 6px;
    border: 3px solid black;
}
.preenchido{
    height: 1em;
    margin: 0px;
    border: 0;
    border-radius: 2px;
    background-color: #192545;
}
.botao{
    width: 12em;
    height: 4em;
    margin: 1em;
    border-radius: 13px;
    display: flex;
    text-align: center;
    background-color: white;
}
.infos{
    margin-top: 1em;
    margin-left: 1.3em;
    
}
.infos>p{
    text-align: center;
    font-size: 25px;
}